@using MastersProject.Controllers
@model List<MastersProject.Models.CountryEntity>

@{
    ViewBag.Title = "Manage";
    int intSno = 0;
}

<div class="card shadow" mb-4>
    <div class="card-header py-3">
        <table style="width: 100%;" id="tblpag" class="table table-bordered dataTable no-footer">
            <thead>
                <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
                    <th>
                        Sno
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    intSno = intSno + 1;
                    <tr>
                        <td>
                            @intSno
                        </td>
                        <td>
                            @Html.DisplayFor(Model => item.Cname)

                        </td>
                        <td>

                            <a href="@Url.Action("Index", "Country", new { @Cid= item.Cid })">
                           <img src="~/image/Edit.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" onclick="DeleteCountry('@item.Cid')">                                
                                <img src="~/image/delete.png" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

